<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekam</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link href="static/css/viewandro.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
            <div class="container">
            <div class="display">
    
            </div>
    
            <div class="controllers">
    
            </div>
        </div>
        <a href="{{ url_for('home') }}">Kembali</a>
            </div>
        </div>
    </div>    
</body>
<script src="{{ url_for('serve_static', filename='vrecorder.js') }}"></script>
</html>
