<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="suara" accept=".webm">
    <input type="submit" value="Upload">
</form>

<div id="notification">
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</div>

{% if message == 'Suara berhasil diunggah!' %}
    <form action="/konversi" method="post">
        <input type="hidden" name="filename" value="{{ filename }}">
        <button type="submit">Konversi</button>
    </form>
{% endif %}

<div id="notification">
    {% if message2 %}
        <p>{{ message2 }}</p>
    {% endif %}
</div>

{% if message2 == 'File berhasil dikonversi' %}
    <form action="{{ url_for('extract') }}" method="post">
        <input type="hidden" name="filename_wav" value="{{ filename_wav }}">
        <button type="submit">Extract</button>
    </form>
{% endif %}

<div id="notification">
    {% if message3 %}
        <p>{{ message3 }}</p>
    {% endif %}
</div>

<a href="{{ url_for('home') }}">Kembali</a>